@model IEnumerable<DisasterNPO.Models.Balance>


@{
    ViewData["Title"] = "Balance";
}

<center><h1>Balance</h1></center>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.balance)
            </th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => model.balance)
                </td>
            </tr>
        
    </tbody>
</table>
