@model DisasterNPO.Models.DisasterModel

@{
    ViewData["Title"] = "Disaster";
}
<style>

    .get-in-touch {
        max-width: 800px;
        margin: 50px auto;
        position: relative;
    }

        .get-in-touch .title {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 3.2em;
            line-height: 48px;
            padding-bottom: 48px;
            color: #000000;
        }

    .contact-form .form-field {
        position: relative;
        margin: 32px 0;
    }

    .contact-form .input-text {
        display: block;
        width: 100%;
        height: 36px;
        border-width: 0 0 2px 0;
        border-color: #5543ca;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
    }

        .contact-form .input-text:focus {
            outline: none;
        }

            .contact-form .input-text:focus + .label,
            .contact-form .input-text.not-empty + .label {
                -webkit-transform: translateY(-24px);
                transform: translateY(-24px);
            }

    .contact-form .label {
        position: absolute;
        left: 20px;
        bottom: 11px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: #000000;
        cursor: text;
        transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }

    .contact-form .submit-btn {
        display: inline-block;
        background-color: #000;
        background-image: linear-gradient(125deg,#ff8c00,#ff8c00);
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        padding: 8px 16px;
        border: none;
        width: 200px;
        cursor: pointer;
    }

</style>
<section class="get-in-touch">
<h1 class="title">Disaster</h1>
<div class="row">

    <form asp-action="Disaster" asp-controller="User" class="contact-form row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-field col-lg-12">
                <label asp-for="Aidtypes" class="control-label"></label>
                <input asp-for="Aidtypes" class="input-text js-input" class="form-control" />
                <span asp-validation-for="Aidtypes" class="text-danger"></span>
            </div>
            <div class="form-field col-lg-12">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="input-text js-input" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-field col-lg-12">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="input-text js-input" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-field col-lg-12">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="input-text js-input" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-field col-lg-12">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="input-text js-input" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-field col-lg-12">
                <input type="submit" value="Create" class="submit-btn" />
            </div>
        </form>
    
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
