@{
    ViewData["Title"] = "Home Page";
}

<section class="mail-seccess section">
		
		<!--<div class="col-lg-6 offset-lg-3 col-12">
				 Error Inner -->
				<div class="success-inner">
					<center> <h1><i class="fa fa-envelope"></i><span>WELCOME USER!</span></h1>
					<p>What will you doing today</p></center>
					<br />
					<br />
					<br/>
					<div class="container-fluid">
					<div class="row">
						<div class="col">
						<center>
						<h1><i class="fa fa-envelope"></i><span>Monatory</span></h1>
							<a asp-action="Money" class="btn btn-primary btn-lg" style='background-color: #ffa500 ;'>Add monatory</a>
							<a asp-action="ViewinMoney" class="btn btn-primary btn-lg" style='background-color: #ffa500 ;'>View</a>
						</center>
						</div>
						<div class="col">
						<center>
							<h1><i class="fa fa-envelope"></i><span>Donation</span></h1>
							<a asp-action="Donation" class="btn btn-primary btn-lg" style='background-color: #ffa500 ;'>Add Donation</a>
							<a asp-action="Viewing" class="btn btn-primary btn-lg" style='background-color: #ffa500 ;'>View</a>
						</center>
						</div>
						<div class="col">
						<center>
							<h1><i class="fa fa-envelope"></i><span>Disaster</span></h1>
							<a asp-action="Disaster" class="btn btn-primary btn-lg" style='background-color: #ffa500 ;'>Add Disaster</a>
							<a asp-action="ViewingDisaster" class="btn btn-primary btn-lg" style='background-color: #ffa500 ;'>View</a>
						</center>
						</div>
					</div>
					
				</div>
				<!--/ End Error Inner -->
			</div>
	</div>
	</section>
